<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="cat '$(find jetbot_ccai)/urdf/mobile_robot.urdf.xacro'"/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>

  <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model robot -x $(arg x) -y $(arg y) -z $(arg z)"/>

  <rosparam file="$(find jetbot_ccai)/config/controllers.yaml" command="load"/>


  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/mobile_robot" args="joints_update mobile_base_controller"/>



  <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
  </node-->

  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find jetbot_ccai)/config/rviz_config.rviz"/-->



  <!--<node name="telop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>-->

</launch>
